<div class="row">
	<slot />
	<div class="right">
		<slot name="price" />
	</div>
</div>

<style>
	.row {
		display: flex;
		flex-direction: column;

		justify-content: space-between;
	}

	.right {
		display: flex;
		justify-content: end;
	}
</style>
