---
import { Image } from 'astro:assets'
import PizzaImage from '../../images/Pizza.png'
---

<div class="stack">
	<Image src={PizzaImage} alt="pizza"/>
	<Image src={PizzaImage} alt="pizza"/>
	<Image src={PizzaImage} alt="pizza"/>
</div>

<style>
	@keyframes pizzaanim {
		from {
			transform: rotate(-20deg);
		}

		to {
			transform: rotate(10deg);
		}
	}

	.stack {
		position: absolute;
		right: 1em;
		top: 3em;

		animation: pizzaanim 5s infinite alternate;

		z-index: -2;

		width: 10em;
		height: 10em;

		filter: drop-shadow(30px 30px 20px #00000070);
	}



	.stack>img {
		position: absolute;
		left: 0;
		width: 100%;
		height: auto;
		filter: blur(5px) brightness(0.7);
	}

	.stack>img:nth-child(1) {
		top: 0em;
	}

	.stack>img:nth-child(2) {
		top: -1em;
	}

	.stack>img:nth-child(3) {
		top: -2em;
	}
</style>
