---
import '../../../styles/global.css'
---

<html style="font-size: 2em;">
	<head>
		<title>Many Progress Bars</title>
	</head>
	<body class="bg-black text-white py-5 px-7">
		<slot />
	</body>
</html>
